<div style="margin-left: 25px;">

  <%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :nome_pai %><br />
    <%= f.text_field :nome_pai %>
  </div>
  <div class="field">
    <%= f.label :nome_mae %><br />
    <%= f.text_field :nome_mae %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br />
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :local_nascimento %><br />
    <%= f.text_field :local_nascimento %>
  </div>
  <div class="field">
    <%= f.label :quantidade_filhos %><br />
    <%= f.number_field :quantidade_filhos %>
  </div>
  <div class="field">
    <%= f.label :observacoes %><br />
    <%= f.text_area :observacoes %>
  </div>
  <div class="field">
    <%= f.label :endereco_id %><br />
    <%= f.number_field :endereco_id %>
  </div>
  <div class="field">
    <%= f.label "Religiao" %><br />
    <%= f.collection_select(:religiao_id, Religiao.all, :id, :nome, {:selected => 5}) %>
  </div>
  <div class="field">
    <%= f.label "Hobby" %><br />
    <%= f.collection_select(:hobby_id, Hobby.all, :id, :nome, {:selected => 5}) %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br />
    <%= f.number_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :telefone_id %><br />
    <%= f.number_field :telefone_id %>
  </div>
  <div class="field">
    <%= f.label "Area de Trabalho" %><br />
    <%= f.collection_select(:trabalho_area_id, TrabalhoArea.all, :id, :area, {:selected => 1}) %>
    <%= f.label "Cargo Atual" %><br />
    <%= f.collection_select(:trabalho_cargo_id, TrabalhoCargo.all, :id, :cargo, {:selected => 1}) %>
    <%= f.label "Renda Mensal" %><br />
    <%= f.collection_select(:trabalho_renda_id, TrabalhoRenda.all, :id, :renda, {:selected => 1}) %>
  </div>
  <div class="field">
    <%= f.label :estado_civil_id %><br />
    <%= f.number_field :estado_civil_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>