<div style="margin-left: 25px;">

    <h1>Adicionando cliente</h1>

    <div id="content_wrapper">

            <div id="content">
     <!-- FORM: BODY SECTION -->
<div class="wFormContainer">
<h2> Formulário de Cadastro</h2><br/>
<fieldset id="fsCadastro">
<legend>Informe seus dados pessoais</legend>


  <%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :nome_pai %><br />
    <%= f.text_field :nome_pai %>
  </div>
  <div class="field">
    <%= f.label :nome_mae %><br />
    <%= f.text_field :nome_mae %>
  </div>
  <div class="field">
    <%= f.label "Data de Nascimento" %><br />
    <%= f.date_select :data_nascimento, :start_year => 1950 %>
  </div>
  <div class="field">
    <%= f.label "Local de Nascimento" %><br />
    <%= f.text_field :local_nascimento %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Telefone" %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label "Quantidade de Filhos" %><br />
    <%= f.number_field :quantidade_filhos %>
  </div>
  <div class="field">
    <%= f.label "CEP" %><br />
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label "Número" %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label "Religiao" %><br />
    <%= f.collection_select(:religiao_id, Religiao.all, :id, :nome, {:selected => 5}) %>
  </div>
  <div class="field">
    <%= f.label "Hobby" %><br />
    <%= f.collection_select(:hobby_id, Hobby.all, :id, :nome, {:selected => 5}) %>
  </div>
  <div class="field">
    <%= f.label "Área de Trabalho" %><br />
    <%= f.collection_select(:trabalho_area_id, TrabalhoArea.all, :id, :area, {:selected => 3}) %>
  </div>
  <div class="field">
    <%= f.label "Cargo Atual" %><br />
    <%= f.collection_select(:trabalho_cargo_id, TrabalhoCargo.all, :id, :cargo, {:selected => 9}) %>
  </div>
  <div class="field">
    <%= f.label "Renda Mensal" %><br />
    <%= f.collection_select(:trabalho_renda_id, TrabalhoRenda.all, :id, :renda, {:selected => 7}) %>
  </div>
  <div class="field">
    <%= f.label :observacoes %><br />
    <%= f.text_area :observacoes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

    <%= link_to 'Show', @client %> |
    
    <% if @client.ativo == 1 %>
        <%= link_to 'Back', clients_path %>
    <% else %>
        <%= link_to 'Back', clientesExcluidos_path %>
    <% end %>

</fieldset>

          </div>      
        
        

      </div>
            <!-- end of content -->
            <div id="content_bottom"></div>
            <div class="cleaner"></div>
          <div class="cleaner"></div>
</div>

<script >
function daysInMonth(month,year) {
var dd = new Date(year, month, 0);
return dd.getDate();}
function setDayDrop(dyear, dmonth, dday) {
var year = dyear.options[dyear.selectedIndex].value;
var month = dmonth.options[dmonth.selectedIndex].value;
var day = dday.options[dday.selectedIndex].value;
if (day == ' ') {
var days = (year == ' ' || month == ' ')
    ? 31 : daysInMonth(month,year);
dday.options.length = 0;
dday.options[dday.options.length] = new Option(' ',' ');
for (var i = 1; i <= days; i++)
dday.options[dday.options.length] = new Option(i,i);}}

function setDay() {
var year = document.getElementById('year');
var month = document.getElementById('month');
var day = document.getElementById('day');
setDayDrop(year,month,day);}
document.getElementById('year').onchange = setDay;
document.getElementById('month').onchange = setDay;</script>



</div>