<% content_for :charts do %>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Área', 'Clientes'],
          ['Financeira',     <%= Client.where(:ativo => 1,:trabalho_area_id => '4').count %>],
          ['Comércio',       <%= Client.where(:ativo => 1,:trabalho_area_id => '2').count %>],
          ['Contrutora',     <%= Client.where(:ativo => 1,:trabalho_area_id => '3').count %>],
          ['Serviços',       <%= Client.where(:ativo => 1,:trabalho_area_id => '1').count %>]
        ]);

        var options = {
          title: 'Área de Trabalho',
        };

        var chart = new google.visualization.PieChart(document.getElementById('area'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Cargos', 'Clientes'],
          ['Estagiário',     <%= Client.where(:ativo => 1,:trabalho_cargo_id => '1').count %>],
          ['Pleno',      <%= Client.where(:ativo => 1,:trabalho_cargo_id => '2').count %>],
          ['Gerente',  <%= Client.where(:ativo => 1,:trabalho_cargo_id => '4').count %>],
          ['Supervisor', <%= Client.where(:ativo => 1,:trabalho_cargo_id => '3').count %>],
          ['Diretor',    <%= Client.where(:ativo => 1,:trabalho_cargo_id => '5').count %>],
          ['CEO', <%= Client.where(:ativo => 1,:trabalho_cargo_id => '6').count %>],
          ['CIO',    <%= Client.where(:ativo => 1,:trabalho_cargo_id => '7').count %>],
          ['CFO', <%= Client.where(:ativo => 1,:trabalho_cargo_id => '8').count %>],
          ['Desempregado',    <%= Client.where(:ativo => 1,:trabalho_cargo_id => '9').count %>]
        ]);

        var options = {
          title: 'Cargos',
        };

        var chart = new google.visualization.PieChart(document.getElementById('cargos'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Renda', 'Clientes'],
          ['Até 500 reais',     <%= Client.where(:ativo => 1,:trabalho_renda_id => '2').count %>],
          ['500 a 1000 reais',      <%= Client.where(:ativo => 1,:trabalho_renda_id => '3').count %>],
          ['1000 a 2000 reais',  <%= Client.where(:ativo => 1,:trabalho_renda_id => '4').count %>],
          ['2000 a 5000 reais', <%= Client.where(:ativo => 1,:trabalho_renda_id => '5').count %>],
          ['5000 a 10000',    <%= Client.where(:ativo => 1,:trabalho_renda_id => '6').count %>],
          ['10000 ou mais reais', <%= Client.where(:ativo => 1,:trabalho_renda_id => '7').count %>],
          ['Sem Renda',    <%= Client.where(:ativo => 1,:trabalho_renda_id => '8').count %>]
        ]);

        var options = {
          title: 'Renda Mensal',
        };

        var chart = new google.visualization.PieChart(document.getElementById('renda'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hobbies', 'Clientes'],
          ['Esportes',     <%= Client.where(:ativo => 1,:hobby_id => '1').count %>],
          ['Games',      <%= Client.where(:ativo => 1,:hobby_id => '3').count %>],
          ['Leitura',  <%= Client.where(:ativo => 1,:hobby_id => '4').count %>],
          ['Televisão', <%= Client.where(:ativo => 1,:hobby_id => '5').count %>],
          ['Compras',    <%= Client.where(:ativo => 1,:hobby_id => '2').count %>],
          ['Sem Hobbies',    <%= Client.where(:ativo => 1,:hobby_id => '6').count %>]
        ]);

        var options = {
          title: 'Hobbies',
        };

        var chart = new google.visualization.PieChart(document.getElementById('hobby'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Religiao', 'Clientes'],
          ['Cristianismo',     <%= Client.where(:ativo => 1,:religiao_id => '1').count %>],
          ['Judaismo',      <%= Client.where(:ativo => 1,:religiao_id => '3').count %>],
          ['Islamismo',  <%= Client.where(:ativo => 1,:religiao_id => '2').count %>],
          ['Espiritismo', <%= Client.where(:ativo => 1,:religiao_id => '4').count %>],
          ['Ateu',    <%= Client.where(:ativo => 1,:religiao_id => '5').count %>]
        ]);

        var options = {
          title: 'Religiões',
        };

        var chart = new google.visualization.PieChart(document.getElementById('religiao'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Quantidade de Filhos', 'Clientes'],
          ['Sem Filhos',     <%= Client.where(:ativo => 1,:quantidade_filhos => '0').count %>],
          ['Um',      <%= Client.where(:ativo => 1,:quantidade_filhos => '1').count %>],
          ['Dois',  <%= Client.where(:ativo => 1,:quantidade_filhos => '2').count %>],
          ['Tres', <%= Client.where(:ativo => 1,:quantidade_filhos => '3').count %>],
          ['Quatro ou mais',    <%= Client.where(:ativo => 1,:quantidade_filhos => '>=4').count %>]
        ]);

        var options = {
          title: 'Quantidade de Filhos',
        };

        var chart = new google.visualization.PieChart(document.getElementById('filhos'));
        chart.draw(data, options);
      }
    </script>

<% end %>

<div style="margin-left: 25px;">
  <h1> Relatórios dos Clientes </h1>
  <br/>

  <%= link_to 'Voltar', root_path %>

<br/> <br/>
</div>

<div style="margin-left: 150px;">

    <div id="area"></div>
    <br/> <br/>
    <div id="cargos"></div>
    <br/> <br/>
    <div id="renda"></div>
    <br/> <br/>
    <div id="hobby"></div>
    <br/> <br/>
    <div id="religiao"></div>
    <br/> <br/>
    <div id="filhos"></div>
    <br/> <br/>

  </div>