
        <div id="content_wrapper">
            <div id="content">
              <div class="content_section">



                <h2>Entrar no Sistema</h2>

                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                  <div><%= f.label :email %><br />
                  <%= f.email_field :email %></div>

                  <div><%= f.label :password %><br />
                  <%= f.password_field :password %></div>

                  <% if devise_mapping.rememberable? -%>
                    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                  <% end -%>

                  <div><%= f.submit "Entrar" %></div>
                <% end %>

                <%#= render "devise/shared/links" %>



              </div>               
            </div>
            <!-- end of content -->
            <div id="content_bottom"></div>
            <div class="cleaner"></div>
          <div id="template_sidebar">
            <div class="sidebar_section">
              <h2>Desenvolvedores</h2>
              <div class="image_wrapper"> <a href="#"><img src="/assets/image_01.jpg" alt="" width="260" height="120" /></a> </div>
              <p>Alexandre Creto, Fernando Lener, Gregori Inagaki, Murilo Travareli e Piergiorgio Lisanti. São os desenvolvedores desse componente. </p>
              <div class="cleaner_h30"></div>
            </div>
          </div>
          <!-- end of template_sidebar -->
          <div class="cleaner"></div>
        </div>
