<!DOCTYPE html>
<html>
<head>
  <title>MC437 - Grupo 01 - Clientes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield (:charts) %>


</head>
<body>


<div id="wrapper_outter">
  <div id="wrapper_inner">
    <div id="wrapper">
      <div id="container">



        <div align="right" style=" margin-right: 25px; ">
          <% if admin_signed_in? %>
            <div>Seja bem vindo, ADMIN</div>
            <%= button_to 'Sair', destroy_admin_session_path, :method => :delete %>
          <% end %>

          <% if operador_signed_in? %>
            <div>Seja bem vindo, OPERADOR</div>
            <%= button_to 'Sair', destroy_operador_session_path, :method => :delete %>
          <% end %>
        </div>


        <div id="header">
          <div id="header_left">

            <div id="site_title" align = "left">
              <h1> <img src="/assets/logo.png" alt=""/></h1>
            </div>
            <div id="menu">
              <ul>

                <li><a href="#" class="current">Home</a></li>

                <% if admin_signed_in? %>
                  <li><a href="/clients">Ver Clientes</a></li>
                  <li><a href="/clientesExcluidos">Clientes Excluídos</a></li>
                <% else %>
                  <% unless operador_signed_in? %>
                    <li><a href="/admins/sign_in">Admin Login</a></li>
                  <% end %>
                <% end %>

                <% if operador_signed_in? %>
                  <li><a href="/clients">Ver Clientes</a></li>
                <% else %>
                  <% unless admin_signed_in? %>
                    <li><a href="/operadors/sign_in">Operador Login</a></li>
                  <% end %>
                <% end %>

                <li><a href="quemsomos.html">Quem somos</a></li>

              </ul>
            </div>
            <!-- end of menu -->
          </div> 
          <div class="cleaner"></div>
        </div>
        <!-- end of header -->


<%= yield %>




        <div id="footer">
          Copyright &copy; 2012 <a href="http://mc437-clientes.herokuapp.com/">Componente Cliente - MC437</a> | Desenvolvido por Alexandre Creto, Fernando Lener, Gregori Inagaki, Murilo Travareli e Piergiorgio Lisanti.</div>
        <!-- end of footer -->
        <div class="cleaner"></div>
      </div>
    </div>
  </div>
</div>





</body>
</html>
